---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - app.azure.microsoft.com
  resources:
  - samples
  - tracingpingers
  - tracingsamples
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - app.azure.microsoft.com
  resources:
  - samples/finalizers
  - tracingpingers/finalizers
  - tracingsamples/finalizers
  verbs:
  - update
- apiGroups:
  - app.azure.microsoft.com
  resources:
  - samples/status
  - tracingpingers/status
  - tracingsamples/status
  verbs:
  - get
  - patch
  - update
