---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: tracingpingers.app.azure.microsoft.com
spec:
  group: app.azure.microsoft.com
  names:
    kind: TracingPinger
    listKind: TracingPingerList
    plural: tracingpingers
    singular: tracingpinger
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: TracingPinger is the Schema for the tracingpingers API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: TracingPingerSpec defines the desired state of TracingPinger.
            properties:
              value:
                description: Value is incremented by the controller until it reaches
                  the configured limit.
                type: integer
            type: object
          status:
            description: TracingPingerStatus defines the observed state of TracingPinger.
            properties:
              ready:
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
